.notify {
  position: fixed;
  opacity: .9;
  top: -100px;
  right: 20px;
  -webkit-transition: top 1s, opacity 1s;
  transition: top 1s, opacity 1s;
}
.notify--enter {
  top: 20px;
}
.notify--leave {
  opacity: .0;
}